APP_NAME=PeopleFlow
FLASK_ENV=development
SECRET_KEY=peopleflow-secret-key

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=peopleflow
MYSQL_USER=peopleflow_user
MYSQL_PASSWORD=peopleflow_password

DATABASE_URL=mysql+pymysql://peopleflow_user:peopleflow_password@mysql:3306/peopleflow

MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DATABASE=peopleflow_logs
MONGO_URI=mongodb://mongo:27017/peopleflow_logs
